
<!-- teams/_form.html.erb -->
<%= form_with(model: @team, local: true) do |form| %>
  % if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% @team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
  <% end %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :country, class: "form-label" %>
    <%= form.text_area :country, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :founded, class: "form-label" %>
    <%= form.text_area :founded, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <h5>Players</h5>
  <%= form.fields_for :players do |player_form| %>
    <div class="player-form mb-3">
      <%= player_form.label :name, class: "form-label" %>
      <%= player_form.text_field :name, class: "form-control" %>

      <%= player_form.label :position, class: "form-label" %>
      <%= player_form.text_field :position, class: "form-control" %>
      <div class="mb-3">
        <%= form.label :name,class:"col-2 form-label" %>
        <%= player_form.text_field :name, class: "form-control shadow rounded",placeholder: "Enter player name" %>
    </div>
    <div class="mb-3">
        <%= player_form.label :age,class:"col-2 form-label" %>
        <%= player_form.number_field :age, class: "form-control shadow rounded",placeholder: "Enter country name" %>
    </div>
    <div class="mb-3">
        <%= player_form.label :position ,class:"col-2 form-label"%>
        <%= player_form.text_field :position, class: "form-control shadow rounded",placeholder: "Enter founded year" %>
    </div>
    <div class="mb-3">
        <%= player_form.label :team_id,class:"col-2 form-label" %>
        <%= player_form.number_field :team_id, class: "form-control shadow rounded",placeholder: "Enter description " %>
    </div>

    <div class="mb-3">
        <%= player_form.label :role,class:"col-2 form-label" %>
        <%= player_form.text_field :role, class: "form-control shadow rounded",placeholder: "Enter description " %>
    </div>

    <div class="mb-3">
        <%= player_form.label :is_active,class:"col-2 form-label" %>
        <%= player_form.text_field :is_active, class: "form-control shadow rounded",placeholder: "Enter description " %>
    </div>

    <div class="mb-3">
        <%= player_form.label :is_captain,class:"col-2 form-label" %>
        <%= player_form.text_field :is_captain, class: "form-control shadow rounded",placeholder: "Enter description " %>
    </div>
    <div class="mb-3">
        <%= player_form.label :description,class:"col-2 form-label" %>
        <%= player_form.text_field :description, class: "form-control shadow rounded",placeholder: "Enter description " %>
    </div>
      <%= link_to_remove_player "Remove", player_form, class: "btn btn-danger" %>
    </div>
  <% end %>
  <%= link_to_add_player "Add Player", form, class: "btn btn-primary" %>
  <h5>Matches</h5>
  <%= form.fields_for :matches do |match_form| %>
    <div class="match-form mb-3">
    <div>
      <%= match_form.label :name, class: "form-label" %>
      <%= match_form.text_field :name, class: "form-control" %>
      </div>
      <div>
        <%= match_form.label :date, class: "form-label" %>
        <%= match_form.date_field :date, class: "form-control" %>
      </div>
      <div>
        <%= match_form.label :location, class: "form-label" %>
        <%= match_form.text_field :location, class: "form-control" %>
      </div>
      <div>
        <%= match_form.label :home_team_id, class: "form-label" %>
        <%= match_form.text_field :home_team_id, class: "form-control" %>
      </div>
      <div>
        <%= match_form.label :away_team_id, class: "form-label" %>
        <%= match_form.text_field :away_team_id, class: "form-control" %>
      </div>
      <%= link_to_remove_match "Remove", match_form, class: "btn btn-danger" %>
  <% end %>
  <%= link_to_add_match "Add Match", form, class: "btn btn-primary" %>
  <%= form.submit class: "btn btn-primary" %>
  
