<p>Show The Team details of <%=@team.id %></p>
<p><b>TeamName :</b><%= @team.name%></p>
<p><b>TeamCountry:</b><%= @team.country%></p>
<p><b>Founded :</b><%= @team.founded%></p>
<p><b>Description :</b><%= @team.description%></p>

<%= link_to 'show',team_path(@team) %>
<%= link_to 'edit',edit_team_path(@team) %>
<%= link_to 'delete',team_path(@team),method: :delete, data: {confirm: "Are you sure ?"} %>
 